{% load i18n sizeformat %}

<div class="detail">
  <dl class="dl-horizontal">
    <dt>{% trans "Name" %}</dt>
    <dd>{{ server.name }}</dd>
    <dt>{% trans "ID" %}</dt>
    <dd>{{ server.uuid }}</dd>
    <dt>{% trans "Status" %}</dt>
    <dd>{{ server.status|title }}</dd>
    <dt>{% trans "Availability Zone" %}</dt>
    <dd>{{ server.availability_zone|default:_("-") }}</dd>
    <dt>{% trans "Created" %}</dt>
    <dd>{{ server.created_at|parse_isotime }}</dd>
    <dt>{% trans "Time Since Created" %}</dt>
    <dd>{{ server.created_at|parse_isotime|timesince }}</dd>
    {% if is_superuser %}
      <dt>{% trans "Node" %}</dt>
    {% endif %}
  </dl>

  {% if server.fault_info %}
    <h4>{% trans "Fault" %}</h4>
    <hr class="header_rule">
    <dl class="dl-horizontal">
      <dt>{% trans "Message" %}</dt>
      <dd>{{ server.fault_info.message }}</dd>
      <dt>{% trans "Code" %}</dt>
      <dd>{{ server.fault_info.code }}</dd>
      <dt>{% trans "Details" %}</dt>
      <dd>{{ server.fault_info.details }}</dd>
    </dl>
  {% endif %}

    <h4>{% trans "Metadata" %}</h4>
    <hr class="header_rule">
    <dl class="dl-horizontal">
      {% if server.image_uuid %}
        <dt>{% trans "Image" %}</dt>
        <dd>
        {% if server.image_uuid %}
          <a href="{{ server.image_url }}">{{ server.image_uuid }}</a>
        {% else %}
          {% trans "-" %}
        {% endif %}
        </dd>
      {% else %}
        <dt>{% trans "Image" %}</dt>
        <dd>{% trans "None" %}</dd>
      {% endif %}
      {% with default_item_value="<em>"|add:_("N/A")|add:"</em>" %}
      {% for key, value in server.extra.items %}
        <dt>{{ key|force_escape }}</dt>
        <dd>{{ value|force_escape|default:default_item_value }}</dd>
      {% endfor %}
      {% endwith %}
    </dl>
</div>
