{% load i18n horizon humanize bootstrap %}

{% block help_message %}
{% endblock %}

<h4>{% trans "Flavor Details" %}</h4>
<table class="flavor_table table table-striped table-fixed">
  <tbody>
    <tr><td class="flavor_name">{% trans "Name" %}</td><td><span id="bm_flavor_name" class="truncate"></span></td></tr>
    <tr><td class="flavor_name">{% trans "CPUs" %}</td><td><span id="bm_flavor_cpus"></span></td></tr>
    <tr><td class="flavor_name">{% trans "RAM" %}</td><td><span id="bm_flavor_ram"></span></td></tr>
    <tr><td class="flavor_name">{% trans "Disks" %}</td><td><span id="bm_flavor_disks"></span></td></tr>
    <tr><td class="flavor_name">{% trans "Nics" %}</td><td><span id="bm_flavor_nics"></span></td></tr>
  </tbody>
</table>


<script type="text/javascript" charset="utf-8">
  var selected_flavor;
  var flavors = ({{ flavors|safe|default:"{}" }});
  var flavor_id = $("#id_flavor").children(":selected").val();
  $("#id_flavor").change(function() {
    selected_flavor = flavors[this.value]
    $("#bm_flavor_name").text(selected_flavor["name"]);
    $("#bm_flavor_cpus").text(selected_flavor["cpus"]);
    $("#bm_flavor_ram").text(selected_flavor["ram"]);
    $("#bm_flavor_nics").text(selected_flavor["nics"]);
    $("#bm_flavor_disks").text(selected_flavor["disks"]);
    
  })
  if (flavor_id) {
    selected_flavor = flavors[flavor_id]
    $("#bm_flavor_name").text(selected_flavor["name"]);
    $("#bm_flavor_cpus").text(selected_flavor["cpus"]);
    $("#bm_flavor_ram").text(selected_flavor["ram"]);
    $("#bm_flavor_nics").text(selected_flavor["nics"]);
    $("#bm_flavor_disks").text(selected_flavor["disks"]);
  }
</script>
